@charset "UTF-8";
@forward './reset';

.card{
  width: 250px;
  height: 250px;
  border: 1px solid black;
  margin: 200px auto;

}

.card-back{
  background: url('../images/card_back.jpg') center;
  background-size: 50px;
}

.card-front{
  background: white;
}

.button-wrapper{
  display: flex;
  margin: 100px auto 0;
  width: 180px;
  .btn{
    display: block;
    width: 80px;
    height: 70px;
  }

  .btn + .btn{
    margin-left: 20px;
  }
}

.line-desc{
  background-color: rgb(196, 232, 139);
  position: fixed;
  z-index: 2;
  top: 75%;
}
.line{
  width: 100vw;
  height: 3px;
  background-color: rgb(196, 232, 139);
  position: fixed;
  top: 75%;
}
